

:root{
    --color-rosa: #E1AFD1;
    --color-blanco: #fff;
    --color-lila: #AD88C6;
    --color-negro: #000;
    --color-morado: #7469B6;
    --color-titulo: #240A34;
    --color-subtitulo: #170c3f;
    --color-fondo: #7469B6;
    --color-borde: #332941;
    }